In [1]:
import pandas as pd

In [4]:
heart_df = pd.read_csv(r"C:\Users\Hari Ghanapuram\OneDrive\Desktop\final project\Code and Video_Cardiovascular Disease Prediction Using Feature Selection and Ensemble Learning Models\Code\heart_disease.csv")
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    int64
 1   sex       297 non-null    int64
 2   cp        297 non-null    int64
 3   trestbps  297 non-null    int64
 4   chol      297 non-null    int64
 5   fbs       297 non-null    int64
 6   restecg   297 non-null    int64
 7   thalach   297 non-null    int64
 8   exang     297 non-null    int64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    int64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  num       297 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 32.6 KB

In [6]:
X_feature = heart_df.drop('num', axis=1)
y_target = heart_df['num']

# *Recursive Feature Elimination (RFE)*

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE

In [20]:
RF_mdl = RandomForestClassifier(random_state=1)
select = RFE(RF_mdl, n_features_to_select=X_feature.shape[1])  # select all features 
select.fit(X_feature, y_target)
selected_features = X_feature.columns[select.support_]
print("Selected all features with RFE:", selected_features.tolist())

Selected all features with RFE: ['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal']

In [14]:
X_rfe_chosen = X_feature[selected_features]
X_rfe_chosen

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,57,0,4,140,241,0,0,123,1,0.2,2,0.0,7.0
293,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0
294,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0
295,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0
296,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0